/********************
YOUR STYLES
*******************/

section {
    margin: 5% 5% 5% 5%;
    padding: 3em;
    background-color: rgba(255,255,255,.8);
    min-height: 95%;
    position:relative;
}

section h1 {
    font-size: 3em;
    text-align: center;
    text-transform: uppercase;
}
section h3{
    text-transform:uppercase;
}
section main {
    width:85%;
    margin: 0 auto;
}
.square {
    border: 1pt dashed green;
}
main article {
    display:inline-block;
    padding:1px;
    float:left;
}
section p {
    font-size: 1.5em;
    width: 50%;
    margin: 0 auto;
    text-align: center;
}
section ul li {
    display:inline;
}
ul li a {
    padding: 10px 25px;
    text-transform: uppercase;
    border: 1pt solid cadetblue;
}
ul li a:link {
    color:steelblue;
    text-decoration: none;
}
ul li a:visited {
    color:forestgreen;
}
ul li a:hover {
    text-transform: uppercase;
    color:azure;
    background-color:cadetblue;
}


/* First Frame */

.char1,
.char2,
.char3,
.char4,
.char5,
.char6,
.char8,
.char9,
.char10,
.char11,
.char13,
.char14,
.char15,
.char16,
.char17,
.char18,
.char19,
.char20 {
    box-shadow: inset 0 0 8px #fff;
    display: inline-block;
    padding: .15em;
    border-bottom: px solid #fff;
    transition: transform .15s;
}

/* Last Frame */

.char1:hover,
.char2:hover,
.char3:hover,
.char4:hover, 
.char5:hover,
.char6:hover,
.char8:hover,
.char9:hover,
.char10:hover,
.char11:hover,
.char13:hover,
.char14:hover,
.char15:hover,
.char16:hover,
.char17:hover,
.char18:hover,
.char19:hover,
.char20:hover {
    transform: rotate(-4deg) scale(1.75) skewX(2deg);
}

/* Keyframe Animation 
@keyframes rubberBand {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  30% {
    -webkit-transform: scale3d(1.25, 0.75, 1);
    transform: scale3d(1.25, 0.75, 1);
  }

  40% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
    transform: scale3d(0.75, 1.25, 1);
  }

  50% {
    -webkit-transform: scale3d(1.15, 0.85, 1);
    transform: scale3d(1.15, 0.85, 1);
  }

  65% {
    -webkit-transform: scale3d(.95, 1.05, 1);
    transform: scale3d(.95, 1.05, 1);
  }

  75% {
    -webkit-transform: scale3d(1.05, .95, 1);
    transform: scale3d(1.05, .95, 1);
  }

  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}
*/

/* Tada */


@keyframes tada {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  10%, 20% {
    -webkit-transform: scale3d(.9, .9, .9) rotate3d(0, 0, 1, -3deg);
    transform: scale3d(.9, .9, .9) rotate3d(0, 0, 1, -3deg);
  }

  30%, 50%, 70%, 90% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
  }

  40%, 60%, 80% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
  }

  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

.tada {
  -webkit-animation-name: tada;
  animation-name: tada;
}
section div {
    margin:0 auto;   
}
body section p {
    width:95%;
}
section div img {
    width: 100%;
}

section div img:hover {
  animation: tada 1s infinite;
}



/********************
MEDIA QUERIES
*******************/

/* Desktop */
@media screen 
  /* 2560px = 160em */
  and (max-width: 160em)
  /* 1280px = 80em */
  and (min-width: 80em) { 
  
  /* Temporary Styling. Add your own. 
  body {
       background: blue;
  }
  */
      
      
/*  My Styles  */
    body section div {
        width:25%;   
    }
    body section p {
        width:50%;
    }
      
/*  End My Styles  */
}

/* Tablet */
@media screen 
   /* 1279 = 79.9375em */  
  and (max-width: 79.9375em)
   /* 768px = 160em */
  and (min-width: 48em)  {
  
  /* Temporary Styling. Add your own. 
  body {
       background: green;
  }
  */
      
/*  My Styles  */
     body section div {
        width:45%;   
    }     
      
/*  End My Styles  */
      
}

/* Mobile */
@media screen
  /* 767px = 47.9375em */
  and (max-width: 47.9375em)
  /* 320px = 20em */
  and (min-width: 20em) { 
  
  /* Temporary Styling. Add your own. 
  body {
       background: red;
  }
  */
      
/*  My Styles  */
    body section div {
        width:75%;   
    }
      
/*  End My Styles  */
      
  
}